<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./script.js" defer></script>
    <title>Sidebar - Component</title>
  </head>
  <body>
    <template id="template-app-header">
      <header id="header">
        <button class="menu-mobile">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
        </button>

        <div class="money">
          <span class="current-balance">Saldo atual</span>
          <div class="value">
            <span class="amount">50</span>
            <span class="currency">créditos</span>
          </div>
        </div>

        <a href="/perfil/" class="profile">
          <strong class="name">Usuário</strong>
          <img src="/public/profile.png" alt="Perfil" class="image" />
        </a>
      </header>
    </template>
  </body>
</html>
