h1 {
  margin-bottom: 2rem;
}

.reports-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.report {
  background: #fff;
  padding: 3rem;
  border-radius: 2rem;
  border: 1px solid var(--gray-200);
  box-shadow: 0 0 10px rgba(44, 46, 182, 0.1);
  max-width: 340px;
  width: 100%;
}

.report p {
  margin-top: 1rem;
}

.report-title,
strong {
  color: var(--blue-500);
}

@media (max-width: 1199px) {
  h1 {
    text-align: center;
  }

  .report {
    max-width: unset;
    text-align: center;
  }
}
