<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
        
        <div id="modal" class="modal">
            <div class="modal-content">
                <h1>Serviços de Pintura
                </h1>
                <span class="data-solicitacao">Solicitado 24/07/2024</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur est cum accusantium, consequatur.
                </p>
                <div class="valor-opcoes">
                    <span class="tag">R$ 15,00 </span>
                    <span class="tag">Dom</span>
                        <span class="tag">Tarde</span>
                        <span class="tag">Presencial</span>
                    </span>
                </div>
                <p class="paragrafo mod">Desistir da solicitação.</p>
                <textarea class="justificativa" placeholder="Escreva a justificativa aqui..."></textarea>
                <div class="modal-actions">
                    <button id="confirmar-conclusao" class="botao-confirm">Confirmar conclusão</button>
                    <button id="close-modal" class="botao-cancel">Desistir</button>
                </div>
            </div>
        </div>

    <script src="./js/script.js"></script>
</body>

</html>