<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="modal-body">
        <h1>SERVIÇO DE PINTURA</h1>


        <!-- TERMINAR A MODAL DEPOIS -->


        <!-- BUTTON QUE CHAMA A MODAL -->
        <button id="open-modal">Abrir Avaliação</button>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>