.modal { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-body {
    border-radius: 8px;
    background-color: #fff;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 532px;
    align-items: center;

}

.modal-title { 
    color: #1E3F66;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;

}

.modal-text { 
    color: #161917;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-sec-title { 
    color:#161917;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.avaliacao { 
    margin-bottom: 15px;
}
.highlight { 
    margin-bottom: 15px;
}


.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    margin: 10px;
}
.star {
    display: inline-block;
    gap: 8px;
    max-width: 600px;
    padding: 12px;
    cursor: pointer;
    transition: transform 0,2s;
    
}

.star img {
    width: 35px;
    height: 35px;
    transition: transform 0.2s;
}

.star.selected {
    background-color: gold;
    border-radius: 10px;
}

.star.selected img {
    filter: brightness(1.1);
}

.star:hover{ 
    transform: scale(1.1);
    background-color: gold;
    transform: translateY(-2px);
}


.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    max-width: 600px;
    padding: 10px;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;

}

.chip { 
    background-color: #fff;
    border-radius: 56px;
    padding: 8px 8px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.chip:hover { 
    background-color: #486286;
    transform: translateY(-2px);
    color: white;
}
.chip.selected { 
    background-color:  #486286;
    color: white;

}
.experiencia { 
    width: 100%;
    margin-bottom: 14;
    padding: 5%;
    border-radius: 9px;
    border: 1px solid #ccc;
    resize: none;
    align-self: center;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;}

.placeholder {
    width: 100%;
    box-sizing: border-box;
    max-width: 10px;
    align-self: center;
}
.send {
    border:none;
    border-radius:9px ;
    padding: 3%;
    cursor: pointer;
    font-size: 14px;
    background-color: #495057;
    color: white;
    justify-content: center;
    align-self: center;
    width: 100% ;
}

.send:hover{
    background-color: #486286;
}