.sidebar {
  width: 290px;
  background-color: white;
  border-right: 1px solid #f8f9fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.sidebar .logo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 40px;
  padding: 10px 0;
  color: #1e3f66;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 0.8rem;
  text-decoration: none;
  color: #1e3f66;
  font-weight: 500;
  margin-bottom: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav a.active,
.sidebar-nav a:hover {
  background-color: #1e3f66;
  color: white;
}

.sidebar-nav a svg {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.sidebar-nav #logout {
  cursor: pointer;
}
