<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css">
    <title>Sidebar - Component</title>
  </head>
  <body>
    <template id="template-app-footer">
      <footer class="footer">
        <nav>
          <a href="#home">Quem somos</a>
          <a href="#about">FAQ</a>
          <a href="#contact">Termos de uso</a>
          <a href="#contact">Política de privacidade</a>
        </nav>
       <p> © 2025 Trade Skills. Todos os direitos reservados.</p>
      </footer>
   </template>
    <script src="./script.js" defer></script>
  </body>
</html>
