.footer {
  background: var(--blue-500);
  color: white;
  text-align: center;
  padding: 3rem 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.footer a:hover {
  color: #eec276;
}

.footer nav {
  display: flex;
  gap: 4rem;
}

.footer .copy {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer nav {
    flex-direction: column;
    gap: 1rem;
  }

  .footer .copy {
    width: 100%;
    padding-top: 2rem;
    border-top: 1px solid var(--gray-100);
  }
}
