#profile .modal-wrapper {
  border-radius: 0.8rem;
  padding: 3rem;
  position: relative;
  overflow: auto;
  text-align: center;
  margin-top: 4rem;
}

#profile .close-modal {
  display: flex;
  position: relative;
  width: 32px;
  height: 24px;
  cursor: pointer;
  margin-left: auto;
}

#profile .close-modal .bar {
  height: 4px;
  width: 100%;
  background: var(--black-500);
  border-radius: 2rem;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  position: absolute;
  left: 0;
}

#profile .close-modal .bar1 {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

#profile .close-modal .bar2 {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

#profile .modal-avatar {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

#profile .modal-name {
  margin: 1rem 0;
}

#profile .member-since {
  margin-bottom: 1rem;
}

#profile .rating {
  color: var(--blue-500);
  font-size: 1.2rem;
}

#profile .rating::before {
  content: "";
  display: inline-block;
  background: url(/public/icons/star.svg);
  width: 1.6rem;
  height: 1.6rem;
  background-size: cover;
  margin-right: 0.5rem;
  position: relative;
  top: 0.2rem;
}

#profile .modal-body {
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 1px solid var(--gray-200);
}

#profile .modal-body .skill-name {
  font-size: 2.4rem;
}

#profile .modal-body .skill-card {
  border: 1px solid var(--gray-200);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  text-align: left;
  display: flex;
  padding: 3rem 2rem;
  gap: 2rem;
  border-radius: 1.2rem;
}

#profile .modal-body .skill-details {
  width: calc(100% - 5rem);
}

#profile .modal-body .skill-icon {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  background: var(--gray-200);
  border-radius: 50%;
}

#profile .modal-body .skill-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

#profile .modal-body .skill-description {
  margin: 0.8rem 0 3rem;
}

#profile .modal-body .skill-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile .modal-body .skill-infos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#profile .modal-body .skill-price,
#profile .modal-body .skill-availability {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--blue-500);
  font-weight: 600;
  background: var(--gray-200);
  padding: 0.5rem 3rem;
  border-radius: 10rem;
  border: 1px solid var(--gray-400);
}

#profile .modal-body .hire-button {
  border-radius: 10rem;
  padding: 0.6rem 3rem;
  cursor: pointer;
}

#profile .review {
  margin-top: 3rem;
}

#profile .review .review-list {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

#profile .review .review-card {
  border: 1px solid var(--gray-200);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.8rem;
}

#profile .review .review-text {
  margin: 2rem 0;
  font-size: 1.4rem;
}

#profile .review .review-tag {
  font-size: 1.2rem;
  background: var(--blue-500);
  padding: 0.8rem 1.2rem;
  color: #fff;
  border-radius: 10rem;
  margin-top: 1rem;
  display: block;
}

#profile .view-profile {
  width: 100%;
  margin-top: 3rem;
  border-radius: 30rem;
}
