:root {
    --black-600: rgba(22, 25, 23, 1);
    --dark-blue-800: rgba(17, 24, 39, 1);
    --blue-500: rgba(27, 50, 95, 1);
    --blue-400: rgba(58, 137, 201, 1);
    --yellow-400: rgba(238, 194, 118, 1);
    --gray-700: rgba(52, 64, 84, 1);
    --gray-600: rgba(83, 83, 83, 1);
    --gray-500: rgba(102, 112, 133, 1);
    --gray-400: rgba(107, 114, 129, 1);
    --gray-300: rgba(208, 213, 221, 1);
    --gray-200: rgba(248, 249, 250, 1);
    --red-400: rgba(185, 28, 28, 1);
    --green-400: rgba(22, 101, 52, 1);
    --aqua-green-200: rgba(121, 195, 170, 1);
    --gray-tailwind800: rgba(31, 41, 55, 1);
    --gray-tailwind500: rgba(107, 114, 128, 1);
    --black: rgba(26, 32, 44, 1);
    --fillicon: rgba(34, 34, 34, 1);
    --white: rgba(255, 255, 255, 1);
    --gray-900: rgba(16, 24, 40, 1);
    --roboto-bold-font-family: "Roboto", Helvetica;
    --roboto-bold-font-weight: 700;
    --roboto-bold-font-size: 20px;
    --roboto-bold-letter-spacing: 0px;
    --roboto-bold-line-height: 38.400001525878906px;
    --roboto-bold-font-style: normal;
    --roboto-medium-font-family: "Roboto", Helvetica;
    --roboto-medium-font-weight: 500;
    --roboto-medium-font-size: 17.600000381469727px;
    --roboto-medium-letter-spacing: 0px;
    --roboto-medium-line-height: 28.15999984741211px;
    --roboto-medium-font-style: normal;
    --roboto-regular-font-family: "Roboto", Helvetica;
    --roboto-regular-font-weight: 400;
    --roboto-regular-font-size: 16px;
    --roboto-regular-letter-spacing: 0px;
    --roboto-regular-line-height: 25.600000381469727px;
    --roboto-regular-font-style: normal;
    --semantic-heading-1-font-family: "Roboto", Helvetica;
    --semantic-heading-1-font-weight: 700;
    --semantic-heading-1-font-size: 44.79999923706055px;
    --semantic-heading-1-letter-spacing: 0px;
    --semantic-heading-1-line-height: 71.68000030517578px;
    --semantic-heading-1-font-style: normal;
    --semantic-heading-2-font-family: "Roboto", Helvetica;
    --semantic-heading-2-font-weight: 700;
    --semantic-heading-2-font-size: 32px;
    --semantic-heading-2-letter-spacing: 0px;
    --semantic-heading-2-line-height: 51.20000076293945px;
    --semantic-heading-2-font-style: normal;
    --semantic-heading-3-font-family: "Roboto", Helvetica;
    --semantic-heading-3-font-weight: 700;
    --semantic-heading-3-font-size: 20.799999237060547px;
    --semantic-heading-3-letter-spacing: 0px;
    --semantic-heading-3-line-height: 33.279998779296875px;
    --semantic-heading-3-font-style: normal;
    --semantic-link-font-family: "Roboto", Helvetica;
    --semantic-link-font-weight: 700;
    --semantic-link-font-size: 16px;
    --semantic-link-letter-spacing: 0px;
    --semantic-link-line-height: 25.600000381469727px;
    --semantic-link-font-style: normal;
    --button-2-font-family: "Poppins", Helvetica;
    --button-2-font-weight: 600;
    --button-2-font-size: 14px;
    --button-2-letter-spacing: 0px;
    --button-2-line-height: 20px;
    --button-2-font-style: normal;
    --paragraph-2-regular-font-family: "Poppins", Helvetica;
    --paragraph-2-regular-font-weight: 400;
    --paragraph-2-regular-font-size: 16px;
    --paragraph-2-regular-letter-spacing: 0px;
    --paragraph-2-regular-line-height: 24px;
    --paragraph-2-regular-font-style: normal;
    --paragraph-3-regular-font-family: "Poppins", Helvetica;
    --paragraph-3-regular-font-weight: 400;
    --paragraph-3-regular-font-size: 14px;
    --paragraph-3-regular-letter-spacing: 0px;
    --paragraph-3-regular-line-height: 20px;
    --paragraph-3-regular-font-style: normal;
    --text-base-font-medium-font-family: "Inter", Helvetica;
    --text-base-font-medium-font-weight: 500;
    --text-base-font-medium-font-size: 16px;
    --text-base-font-medium-letter-spacing: 0px;
    --text-base-font-medium-line-height: 24px;
    --text-base-font-medium-font-style: normal;
    --text-xs-font-medium-font-family: "Inter", Helvetica;
    --text-xs-font-medium-font-weight: 500;
    --text-xs-font-medium-font-size: 12px;
    --text-xs-font-medium-letter-spacing: 0px;
    --text-xs-font-medium-line-height: 18px;
    --text-xs-font-medium-font-style: normal;
    --input-field-label-font-family: "Roboto", Helvetica;
    --input-field-label-font-weight: 400;
    --input-field-label-font-size: 9px;
    --input-field-label-letter-spacing: 1.8px;
    --input-field-label-line-height: normal;
    --input-field-label-font-style: normal;
    --text-14-normal-medium-font-family: "Mulish", Helvetica;
    --text-14-normal-medium-font-weight: 400;
    --text-14-normal-medium-font-size: 14px;
    --text-14-normal-medium-letter-spacing: 0px;
    --text-14-normal-medium-line-height: 150%;
    --text-14-normal-medium-font-style: normal;
    --text-16-normal-normal-font-family: "Mulish", Helvetica;
    --text-16-normal-normal-font-weight: 400;
    --text-16-normal-normal-font-size: 16px;
    --text-16-normal-normal-letter-spacing: 0px;
    --text-16-normal-normal-line-height: 150%;
    --text-16-normal-normal-font-style: normal;
    --text-12-normal-normal-font-family: "Mulish", Helvetica;
    --text-12-normal-normal-font-weight: 400;
    --text-12-normal-normal-font-size: 12px;
    --text-12-normal-normal-letter-spacing: 0px;
    --text-12-normal-normal-line-height: 150%;
    --text-12-normal-normal-font-style: normal;
    --text-sm-font-medium-font-family: "Inter", Helvetica;
    --text-sm-font-medium-font-weight: 500;
    --text-sm-font-medium-font-size: 14px;
    --text-sm-font-medium-letter-spacing: 0px;
    --text-sm-font-medium-line-height: 22px;
    --text-sm-font-medium-font-style: normal;
    --shadow-elevation-1-e-1-rest-state: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --elevation-xs: 0.5px 0.5px 3px 0px rgba(26, 26, 26, 0.08);
}